body{
	margin:0px;
	padding:0px;
	background:url("images/fond.png"),no-repeat,center fixed;
	background-size:cover; 
}
.container{
	text-align:center;
	margin-bottom:500px;
}
h1{
	font-family:"Raleway";
	font-size:96px;
	text-transform:uppercase;
	margin-bottom:-40px;
}
h2{
	font-family:"Raleway"; 
	font-size:25px;
	text-transform:uppercase;
	margin-bottom:80px;
	color:#000000;
}