body{
	margin:0px;
	padding:0px;
	background:url("images/fond.png"),no-repeat,center fixed;
	background-size:cover; 
}
.container{
	margin-bottom:500px;
}
h1{
	font-family:"Raleway";
	font-size:96px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:-40px;
}
h2{
	font-family:"Raleway"; 
	font-size:22px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:40px;
	color:#000000;
}
#logo{
	width:100px;
	margin-left:40%;
}
p{
	text-align:center;
	margin-bottom:-60px;
}
p.switch{
	margin-top:60px;
	letter-spacing:260px;
}
#bt_gauche{
	width:50px;
}
#bt_droite{
	width:50px;
}